#message_panel
  #server_message
    %p= @conversation[:name] + ' says: ' + @conversation[:response]
  
#message_sender
  %input{ :id => 'sender_text_field', :maxlength => 50, :cols => 5, :onkeypress => 'return checkKey(event);' }
  %input{ :id => 'sender_button', :type => 'button', :onclick => 'sendMsg();' }