%form{ :method => :post, :action => '/keyword/create' }
  %label{ :for => :keyword }
    Keyword
  %input{ :name => :keyword }
  
  %label{ :for => :response }
    Response
  %textarea{ :name => :response }
    