%form{ :method => :post, :action => '/keyword/create' }
  %p
    %label{ :for => :keyword } Keyword
    %input{ :name => :keyword }
  %p
    %label{ :for => :response } Response
    %textarea{ :name => :response }
    